@use "../public.scss" as *;

#poll {
  background-color: $bg_dark;
  border-radius: $radius_small;
  padding: $dist_xs;
  margin-bottom: $dist_m;
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0;
  }
  hr {
    width: 100%;
  }
  #header {
    display: flex;
    span {
      margin: auto 0;
    }
  }
}

.topic {
  margin: $dist_s;
  padding: $dist_s;
  border-radius: $radius_small;
  background-color: $bg_bright;
  display: flex;
  font-size: 1.2rem;
  span {
    margin: auto 0;
  }

  .upvote {
    @include button;
    margin: 0;
    &:hover {
      background-color: $bg;
    }
    margin-left: $dist_xs;
  }
}

.seperator {
  flex: 1;
}

.button {
  @include button;
  background-color: $bg;
  width: 50%;
  margin: $dist_s auto;
}
