@use "../public.scss" as *;

.button {
  @include button;
}

#login {
  @include popupForm($dist_l);
  font-size: 1.2rem;
  textarea {
    font-family: inherit;
    border: 0;
    border-radius: $radius_small;
    padding: $dist_s;
    resize: none;
    flex: 3;
  }
}
