.content {
  border-radius: 7px;
  background-color: #2a292a;
  padding: 7px;
}

.title {
  flex-grow: 1;
  font-size: 1.5em;
  font-weight: bold;
}

.list {
  list-style: none;
  padding: 0px;
}

.titleBar {
  display: flex;
}

.endDate {
  margin: auto;
}

/* Topic Component */

.topic {
  display: flex;
  margin: 5px;
  border-radius: 7px;
  background-color: #313131;
}

.topicText {
  flex: 15;
  padding: 12px;
}

.topicPercent {
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding: 12px;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  text-align: center;
}

.topicVoteButton {
  border-radius: 0px;
  border: 0px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  color: white;
  flex: 1;
}

.topicVoteButton:hover {
  background-color: green;
  border-start-end-radius: 7px;
  border-end-end-radius: 7px;
}

.topicVoteButton:active {
  background-color: #2a292a;
  box-shadow: 0px 1px 9px 8px rgba(53, 148, 41, 0.54);
  transform: scale(0.8);
  background-color: rgb(7, 83, 7);
  border-start-end-radius: 7px;
  border-end-end-radius: 7px;
}
